
body{
    font-family:"Inter", sans-serif;
}

.ud-menu-scroll{
    color: #6c757d !important;
}

#azulClarito{
    color: #386ab0;
}

#azulOscuro{
    color: #1b3964;
}


#grisOscuro{
    color: #637381;
}

#grisClarito{
    color: #ececec;
}